[user]
	name = Sunny Klair
	email = sunny.basi@gmail.com
[alias]
	s = status
	st = status
	stat = status
	sl = shortlog
	l = log -p
	lg = log -p
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
